language:
  - cpp
  - python

python:
  - 3.5

sudo: required

services:
  - docker

notifications:
  irc:
    - "chat.freenode.net#calamares"

install:
  - docker build -t calamares .
  - pip install pycodestyle

script:
  - docker run -v $PWD:/build calamares bash -lc "cd /build && cmake -DWEBVIEW_FORCE_WEBKIT=1 -DKDE_INSTALL_USE_QT_SYS_PATHS=ON . && make -j2"
  - pycodestyle --exclude=thirdparty,.git $PWD

group: deprecated-2017Q2
