[Desktop Entry]

# The version of the desktop entry specification to which this file complies
Version=1.0

# The type as listed above
Type=Application

# The name of the application
Name=RebornOS Offline Installer

# A comment which can/will be used as a tooltip
Comment=Install RebornOS on your computer (Locally from the ISO)

# The path to the folder in which the executable is run
Path=

# The executable of the application, possibly with arguments.
Exec=run_calamares.sh "offline" -D8

# The name of the icon that will be used to display this entry
Icon=/usr/share/pixmaps/calamares_offline.svg

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=System;Settings;

# A list of strings which may be used in addition to other metadata to describe this entry. This can be useful e.g. to facilitate searching through entries
Keywords=Installer;Install;RebornOS;Calamares;

StartupNotify=true

X-AppStream-Ignore=true

X-KDE-SubstituteUID=false
