[Desktop Entry]
Type=Application
Version=1.0
Name=Calamares
GenericName=System Installer
Keywords=calamares;system;installer
TryExec=calamares
Exec=pkexec /usr/bin/calamares
Comment=Calamares — System Installer
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;


# Translations
Name[da]=Calamares
Icon[da]=calamares
GenericName[da]=Systeminstallationsprogram
Comment[da]=Calamares — Systeminstallationsprogram
